// Colorscheme: Brick
// winapi names
$SCROLLBAR: #E1E0D2;
$DESKTOP: #420000;
$ACTIVECAPTION: #800000;
$INACTIVECAPTION: #8D8961;
$MENU: #C2BFA5;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #E1E0D2;
$ACTIVEBORDER: #C2BFA5;
$INACTIVEBORDER: #C2BFA5;
$APPWORKSPACE: #E1E0D2;
$HIGHLIGHT: #8D8961;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #C2BFA5;
$C3DSHADOW: #8D8961;
$GRAYTEXT: #8D8961;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #E1E0D2;
$C3DHIGHLIGHT: #E1E0D2;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #C2BFA5;
$INFOTEXT: #800000;
$INFOBK: #E1E0D2;
$HOTLIGHT: #800000;
$GRADIENTACTIVECAPTION: #B07440;
$GRADIENTINACTIVECAPTION: #C8B870;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #C2BFA5;
$ActiveCaption: #800000;
$ActiveCaptionText: #E1E0D2;
$AppWorkspace: #E1E0D2;
$Control: #C2BFA5;
$ControlDark: #8D8961;
$ControlDarkDark: #000000;
$ControlLight: #C2BFA5;
$ControlLightLight: #E1E0D2;
$ControlText: #000000;
$Desktop: #420000;
$GrayText: #8D8961;
$Highlight: #8D8961;
$HighlightText: #FFFFFF;
$HotTrack: #800000;
$InactiveBorder: #C2BFA5;
$InactiveCaption: #8D8961;
$InactiveCaptionText: #E1E0D2;
$Info: #E1E0D2;
$InfoText: #800000;
$Menu: #C2BFA5;
$MenuText: #000000;
$ScrollBar: #E1E0D2;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
