// Colorscheme: Windows Classic
// winapi names
$SCROLLBAR: #C0C0C0;
$DESKTOP: #3A6EA5;
$ACTIVECAPTION: #000080;
$INACTIVECAPTION: #808080;
$MENU: #C0C0C0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #C0C0C0;
$INACTIVEBORDER: #C0C0C0;
$APPWORKSPACE: #808080;
$HIGHLIGHT: #000080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #C0C0C0;
$C3DSHADOW: #808080;
$GRAYTEXT: #808080;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C0C0C0;
$C3DHIGHLIGHT: #FFFFFF;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #C0C0C0;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #000080;
$GRADIENTACTIVECAPTION: #1084D0;
$GRADIENTINACTIVECAPTION: #B5B5B5;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #C0C0C0;
$ActiveCaption: #000080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #808080;
$Control: #C0C0C0;
$ControlDark: #808080;
$ControlDarkDark: #000000;
$ControlLight: #C0C0C0;
$ControlLightLight: #FFFFFF;
$ControlText: #000000;
$Desktop: #3A6EA5;
$GrayText: #808080;
$Highlight: #000080;
$HighlightText: #FFFFFF;
$HotTrack: #000080;
$InactiveBorder: #C0C0C0;
$InactiveCaption: #808080;
$InactiveCaptionText: #C0C0C0;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #C0C0C0;
$MenuText: #000000;
$ScrollBar: #C0C0C0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
