// Colorscheme: Desert
// winapi names
$SCROLLBAR: #EAE6DD;
$DESKTOP: #A28D68;
$ACTIVECAPTION: #008080;
$INACTIVECAPTION: #A28D68;
$MENU: #D5CCBB;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #D5CCBB;
$INACTIVEBORDER: #D5CCBB;
$APPWORKSPACE: #A28D68;
$HIGHLIGHT: #008080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #D5CCBB;
$C3DSHADOW: #A28D68;
$GRAYTEXT: #A28D68;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #FFFFFF;
$C3DHIGHLIGHT: #EAE6DD;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #D5CCBB;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #008080;
$GRADIENTACTIVECAPTION: #84BDAA;
$GRADIENTINACTIVECAPTION: #E8D080;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #D5CCBB;
$ActiveCaption: #008080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #A28D68;
$Control: #D5CCBB;
$ControlDark: #A28D68;
$ControlDarkDark: #000000;
$ControlLight: #D5CCBB;
$ControlLightLight: #EAE6DD;
$ControlText: #000000;
$Desktop: #A28D68;
$GrayText: #A28D68;
$Highlight: #008080;
$HighlightText: #FFFFFF;
$HotTrack: #008080;
$InactiveBorder: #D5CCBB;
$InactiveCaption: #A28D68;
$InactiveCaptionText: #FFFFFF;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #D5CCBB;
$MenuText: #000000;
$ScrollBar: #EAE6DD;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
