// Colorscheme: Eggplant
// winapi names
$SCROLLBAR: #90B0A8;
$DESKTOP: #400040;
$ACTIVECAPTION: #588078;
$INACTIVECAPTION: #90B0A8;
$MENU: #90B0A8;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #90B0A8;
$INACTIVEBORDER: #90B0A8;
$APPWORKSPACE: #808080;
$HIGHLIGHT: #588078;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #90B0A8;
$C3DSHADOW: #588078;
$GRAYTEXT: #588078;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #588078;
$C3DHIGHLIGHT: #C8D8D8;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #90B0A8;
$INFOTEXT: #800080;
$INFOBK: #FFFFFF;
$HOTLIGHT: #588078;
$GRADIENTACTIVECAPTION: #834B83;
$GRADIENTINACTIVECAPTION: #CBBDD2;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #90B0A8;
$ActiveCaption: #588078;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #808080;
$Control: #90B0A8;
$ControlDark: #588078;
$ControlDarkDark: #000000;
$ControlLight: #90B0A8;
$ControlLightLight: #C8D8D8;
$ControlText: #000000;
$Desktop: #400040;
$GrayText: #588078;
$Highlight: #588078;
$HighlightText: #FFFFFF;
$HotTrack: #588078;
$InactiveBorder: #90B0A8;
$InactiveCaption: #90B0A8;
$InactiveCaptionText: #588078;
$Info: #FFFFFF;
$InfoText: #800080;
$Menu: #90B0A8;
$MenuText: #000000;
$ScrollBar: #90B0A8;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
