// Colorscheme: High Contrast #2
// winapi names
$SCROLLBAR: #000000;
$DESKTOP: #000000;
$ACTIVECAPTION: #00FFFF;
$INACTIVECAPTION: #0000FF;
$MENU: #000000;
$WINDOW: #000000;
$WINDOWFRAME: #FFFFFF;
$MENUTEXT: #00FF00;
$WINDOWTEXT: #00FF00;
$CAPTIONTEXT: #000000;
$ACTIVEBORDER: #00FFFF;
$INACTIVEBORDER: #0000FF;
$APPWORKSPACE: #FFFFFF;
$HIGHLIGHT: #0000FF;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #000000;
$C3DSHADOW: #808080;
$GRAYTEXT: #00FF00;
$BTNTEXT: #00FF00;
$INACTIVECAPTIONTEXT: #FFFFFF;
$C3DHIGHLIGHT: #C0C0C0;
$C3DDKSHADOW: #FFFFFF;
$C3DLIGHT: #FFFFFF;
$INFOTEXT: #000000;
$INFOBK: #FFFF00;
$HOTLIGHT: #800080;
$GRADIENTACTIVECAPTION: #00FFFF;
$GRADIENTINACTIVECAPTION: #0000FF;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #00FFFF;
$ActiveCaption: #00FFFF;
$ActiveCaptionText: #000000;
$AppWorkspace: #FFFFFF;
$Control: #000000;
$ControlDark: #808080;
$ControlDarkDark: #FFFFFF;
$ControlLight: #FFFFFF;
$ControlLightLight: #C0C0C0;
$ControlText: #00FF00;
$Desktop: #000000;
$GrayText: #00FF00;
$Highlight: #0000FF;
$HighlightText: #FFFFFF;
$HotTrack: #800080;
$InactiveBorder: #0000FF;
$InactiveCaption: #0000FF;
$InactiveCaptionText: #FFFFFF;
$Info: #FFFF00;
$InfoText: #000000;
$Menu: #000000;
$MenuText: #00FF00;
$ScrollBar: #000000;
$Window: #000000;
$WindowFrame: #FFFFFF;
$WindowText: #00FF00;
