// Colorscheme: High Contrast White
// winapi names
$SCROLLBAR: #FFFFFF;
$DESKTOP: #FFFFFF;
$ACTIVECAPTION: #000000;
$INACTIVECAPTION: #FFFFFF;
$MENU: #FFFFFF;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #808080;
$INACTIVEBORDER: #C0C0C0;
$APPWORKSPACE: #808080;
$HIGHLIGHT: #000000;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #FFFFFF;
$C3DSHADOW: #808080;
$GRAYTEXT: #00FF00;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #000000;
$C3DHIGHLIGHT: #C0C0C0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #C0C0C0;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #000000;
$GRADIENTACTIVECAPTION: #000000;
$GRADIENTINACTIVECAPTION: #FFFFFF;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #808080;
$ActiveCaption: #000000;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #808080;
$Control: #FFFFFF;
$ControlDark: #808080;
$ControlDarkDark: #000000;
$ControlLight: #C0C0C0;
$ControlLightLight: #C0C0C0;
$ControlText: #000000;
$Desktop: #FFFFFF;
$GrayText: #00FF00;
$Highlight: #000000;
$HighlightText: #FFFFFF;
$HotTrack: #000000;
$InactiveBorder: #C0C0C0;
$InactiveCaption: #FFFFFF;
$InactiveCaptionText: #000000;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #FFFFFF;
$MenuText: #000000;
$ScrollBar: #FFFFFF;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
