// Colorscheme: High Contrast Black
// winapi names
$SCROLLBAR: #000000;
$DESKTOP: #000000;
$ACTIVECAPTION: #800080;
$INACTIVECAPTION: #008000;
$MENU: #000000;
$WINDOW: #000000;
$WINDOWFRAME: #FFFFFF;
$MENUTEXT: #FFFFFF;
$WINDOWTEXT: #FFFFFF;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #FFFF00;
$INACTIVEBORDER: #008000;
$APPWORKSPACE: #000000;
$HIGHLIGHT: #800080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #000000;
$C3DSHADOW: #808080;
$GRAYTEXT: #00FF00;
$BTNTEXT: #FFFFFF;
$INACTIVECAPTIONTEXT: #FFFFFF;
$C3DHIGHLIGHT: #C0C0C0;
$C3DDKSHADOW: #FFFFFF;
$C3DLIGHT: #FFFFFF;
$INFOTEXT: #FFFFFF;
$INFOBK: #000000;
$HOTLIGHT: #800080;
$GRADIENTACTIVECAPTION: #800080;
$GRADIENTINACTIVECAPTION: #008000;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #FFFF00;
$ActiveCaption: #800080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #000000;
$Control: #000000;
$ControlDark: #808080;
$ControlDarkDark: #FFFFFF;
$ControlLight: #FFFFFF;
$ControlLightLight: #C0C0C0;
$ControlText: #FFFFFF;
$Desktop: #000000;
$GrayText: #00FF00;
$Highlight: #800080;
$HighlightText: #FFFFFF;
$HotTrack: #800080;
$InactiveBorder: #008000;
$InactiveCaption: #008000;
$InactiveCaptionText: #FFFFFF;
$Info: #000000;
$InfoText: #FFFFFF;
$Menu: #000000;
$MenuText: #FFFFFF;
$ScrollBar: #000000;
$Window: #000000;
$WindowFrame: #FFFFFF;
$WindowText: #FFFFFF;
