// Colorscheme: High Contrast #1
// winapi names
$SCROLLBAR: #000000;
$DESKTOP: #000000;
$ACTIVECAPTION: #0000FF;
$INACTIVECAPTION: #00FFFF;
$MENU: #000000;
$WINDOW: #000000;
$WINDOWFRAME: #FFFFFF;
$MENUTEXT: #FFFFFF;
$WINDOWTEXT: #FFFF00;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #0000FF;
$INACTIVEBORDER: #00FFFF;
$APPWORKSPACE: #000000;
$HIGHLIGHT: #008000;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #000000;
$C3DSHADOW: #808080;
$GRAYTEXT: #00FF00;
$BTNTEXT: #FFFFFF;
$INACTIVECAPTIONTEXT: #000000;
$C3DHIGHLIGHT: #C0C0C0;
$C3DDKSHADOW: #FFFFFF;
$C3DLIGHT: #FFFFFF;
$INFOTEXT: #FFFF00;
$INFOBK: #000000;
$HOTLIGHT: #800080;
$GRADIENTACTIVECAPTION: #0000FF;
$GRADIENTINACTIVECAPTION: #00FFFF;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #0000FF;
$ActiveCaption: #0000FF;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #000000;
$Control: #000000;
$ControlDark: #808080;
$ControlDarkDark: #FFFFFF;
$ControlLight: #FFFFFF;
$ControlLightLight: #C0C0C0;
$ControlText: #FFFFFF;
$Desktop: #000000;
$GrayText: #00FF00;
$Highlight: #008000;
$HighlightText: #FFFFFF;
$HotTrack: #800080;
$InactiveBorder: #00FFFF;
$InactiveCaption: #00FFFF;
$InactiveCaptionText: #000000;
$Info: #000000;
$InfoText: #FFFF00;
$Menu: #000000;
$MenuText: #FFFFFF;
$ScrollBar: #000000;
$Window: #000000;
$WindowFrame: #FFFFFF;
$WindowText: #FFFF00;
