// Colorscheme: Lilac
// winapi names
$SCROLLBAR: #AEA8D9;
$DESKTOP: #000000;
$ACTIVECAPTION: #5A4EB1;
$INACTIVECAPTION: #808080;
$MENU: #AEA8D9;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #AEA8D9;
$INACTIVEBORDER: #AEA8D9;
$APPWORKSPACE: #5A4EB1;
$HIGHLIGHT: #5A4EB1;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #AEA8D9;
$C3DSHADOW: #5A4EB1;
$GRAYTEXT: #5A4EB1;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #FFFFFF;
$C3DHIGHLIGHT: #D8D5EC;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #AEA8D9;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #5A4EB1;
$GRADIENTACTIVECAPTION: #B68FCB;
$GRADIENTINACTIVECAPTION: #B8B4D0;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #AEA8D9;
$ActiveCaption: #5A4EB1;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #5A4EB1;
$Control: #AEA8D9;
$ControlDark: #5A4EB1;
$ControlDarkDark: #000000;
$ControlLight: #AEA8D9;
$ControlLightLight: #D8D5EC;
$ControlText: #000000;
$Desktop: #000000;
$GrayText: #5A4EB1;
$Highlight: #5A4EB1;
$HighlightText: #FFFFFF;
$HotTrack: #5A4EB1;
$InactiveBorder: #AEA8D9;
$InactiveCaption: #808080;
$InactiveCaptionText: #FFFFFF;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #AEA8D9;
$MenuText: #000000;
$ScrollBar: #AEA8D9;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
