// Colorscheme: Maple
// winapi names
$SCROLLBAR: #F2ECD7;
$DESKTOP: #000000;
$ACTIVECAPTION: #800000;
$INACTIVECAPTION: #C6A646;
$MENU: #E6D8AE;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #E6D8AE;
$INACTIVEBORDER: #E6D8AE;
$APPWORKSPACE: #C6A646;
$HIGHLIGHT: #C6A646;
$HIGHLIGHTTEXT: #000000;
$C3DFACE: #E6D8AE;
$C3DSHADOW: #C6A646;
$GRAYTEXT: #C6A646;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #F2ECD7;
$C3DHIGHLIGHT: #F2ECD7;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #E6D8AE;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #C6A646;
$GRADIENTACTIVECAPTION: #C09C38;
$GRADIENTINACTIVECAPTION: #E0C888;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #E6D8AE;
$ActiveCaption: #800000;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #C6A646;
$Control: #E6D8AE;
$ControlDark: #C6A646;
$ControlDarkDark: #000000;
$ControlLight: #E6D8AE;
$ControlLightLight: #F2ECD7;
$ControlText: #000000;
$Desktop: #000000;
$GrayText: #C6A646;
$Highlight: #C6A646;
$HighlightText: #000000;
$HotTrack: #C6A646;
$InactiveBorder: #E6D8AE;
$InactiveCaption: #C6A646;
$InactiveCaptionText: #F2ECD7;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #E6D8AE;
$MenuText: #000000;
$ScrollBar: #F2ECD7;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
