// Colorscheme: Marine (high color)
// winapi names
$SCROLLBAR: #C8E0D8;
$DESKTOP: #2C4E47;
$ACTIVECAPTION: #000080;
$INACTIVECAPTION: #489088;
$MENU: #88C0B8;
$WINDOW: #C8E0D8;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #88C0B8;
$INACTIVEBORDER: #88C0B8;
$APPWORKSPACE: #4B8D84;
$HIGHLIGHT: #000080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #88C0B8;
$C3DSHADOW: #489088;
$GRAYTEXT: #489088;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C0C0C0;
$C3DHIGHLIGHT: #C8E0D8;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #88C0B8;
$INFOTEXT: #000000;
$INFOBK: #C8E0D8;
$HOTLIGHT: #000080;
$GRADIENTACTIVECAPTION: #18B4C0;
$GRADIENTINACTIVECAPTION: #78CCD8;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #88C0B8;
$ActiveCaption: #000080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #4B8D84;
$Control: #88C0B8;
$ControlDark: #489088;
$ControlDarkDark: #000000;
$ControlLight: #88C0B8;
$ControlLightLight: #C8E0D8;
$ControlText: #000000;
$Desktop: #2C4E47;
$GrayText: #489088;
$Highlight: #000080;
$HighlightText: #FFFFFF;
$HotTrack: #000080;
$InactiveBorder: #88C0B8;
$InactiveCaption: #489088;
$InactiveCaptionText: #C0C0C0;
$Info: #C8E0D8;
$InfoText: #000000;
$Menu: #88C0B8;
$MenuText: #000000;
$ScrollBar: #C8E0D8;
$Window: #C8E0D8;
$WindowFrame: #000000;
$WindowText: #000000;
