// Colorscheme: Plum (high color)
// winapi names
$SCROLLBAR: #D8D0C8;
$DESKTOP: #402840;
$ACTIVECAPTION: #484060;
$INACTIVECAPTION: #786058;
$MENU: #A89890;
$WINDOW: #D8D0C8;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #A89890;
$INACTIVEBORDER: #A89890;
$APPWORKSPACE: #74635A;
$HIGHLIGHT: #008080;
$HIGHLIGHTTEXT: #D8D0C8;
$C3DFACE: #A89890;
$C3DSHADOW: #786058;
$GRAYTEXT: #786058;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #A89890;
$C3DHIGHLIGHT: #D8D0C8;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #A89890;
$INFOTEXT: #300058;
$INFOBK: #D5CCC8;
$HOTLIGHT: #484060;
$GRADIENTACTIVECAPTION: #A084B8;
$GRADIENTINACTIVECAPTION: #A89878;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #A89890;
$ActiveCaption: #484060;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #74635A;
$Control: #A89890;
$ControlDark: #786058;
$ControlDarkDark: #000000;
$ControlLight: #A89890;
$ControlLightLight: #D8D0C8;
$ControlText: #000000;
$Desktop: #402840;
$GrayText: #786058;
$Highlight: #008080;
$HighlightText: #D8D0C8;
$HotTrack: #484060;
$InactiveBorder: #A89890;
$InactiveCaption: #786058;
$InactiveCaptionText: #A89890;
$Info: #D5CCC8;
$InfoText: #300058;
$Menu: #A89890;
$MenuText: #000000;
$ScrollBar: #D8D0C8;
$Window: #D8D0C8;
$WindowFrame: #000000;
$WindowText: #000000;
