// Colorscheme: Pumpkin (large)
// winapi names
$SCROLLBAR: #F5EACF;
$DESKTOP: #420042;
$ACTIVECAPTION: #D7A52F;
$INACTIVECAPTION: #A0A0A4;
$MENU: #ECD59D;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #ECD59D;
$INACTIVEBORDER: #ECD59D;
$APPWORKSPACE: #F5EACF;
$HIGHLIGHT: #800080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #ECD59D;
$C3DSHADOW: #D7A52F;
$GRAYTEXT: #D7A52F;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #F5EACF;
$C3DHIGHLIGHT: #F5EACF;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #ECD59D;
$INFOTEXT: #800080;
$INFOBK: #FFFFFF;
$HOTLIGHT: #D7A52F;
$GRADIENTACTIVECAPTION: #E0CC88;
$GRADIENTINACTIVECAPTION: #D0CC90;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #ECD59D;
$ActiveCaption: #D7A52F;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #F5EACF;
$Control: #ECD59D;
$ControlDark: #D7A52F;
$ControlDarkDark: #000000;
$ControlLight: #ECD59D;
$ControlLightLight: #F5EACF;
$ControlText: #000000;
$Desktop: #420042;
$GrayText: #D7A52F;
$Highlight: #800080;
$HighlightText: #FFFFFF;
$HotTrack: #D7A52F;
$InactiveBorder: #ECD59D;
$InactiveCaption: #A0A0A4;
$InactiveCaptionText: #F5EACF;
$Info: #FFFFFF;
$InfoText: #800080;
$Menu: #ECD59D;
$MenuText: #000000;
$ScrollBar: #F5EACF;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
