// Colorscheme: Rainy Day
// winapi names
$SCROLLBAR: #C1CCD9;
$DESKTOP: #000000;
$ACTIVECAPTION: #4F657D;
$INACTIVECAPTION: #808080;
$MENU: #8399B1;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #8399B1;
$INACTIVEBORDER: #8399B1;
$APPWORKSPACE: #808080;
$HIGHLIGHT: #4F657D;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #8399B1;
$C3DSHADOW: #4F657D;
$GRAYTEXT: #4F657D;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C1CCD9;
$C3DHIGHLIGHT: #C1CCD9;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #8399B1;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #4F657D;
$GRADIENTACTIVECAPTION: #80B4D0;
$GRADIENTINACTIVECAPTION: #B0BCD0;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #8399B1;
$ActiveCaption: #4F657D;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #808080;
$Control: #8399B1;
$ControlDark: #4F657D;
$ControlDarkDark: #000000;
$ControlLight: #8399B1;
$ControlLightLight: #C1CCD9;
$ControlText: #000000;
$Desktop: #000000;
$GrayText: #4F657D;
$Highlight: #4F657D;
$HighlightText: #FFFFFF;
$HotTrack: #4F657D;
$InactiveBorder: #8399B1;
$InactiveCaption: #808080;
$InactiveCaptionText: #C1CCD9;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #8399B1;
$MenuText: #000000;
$ScrollBar: #C1CCD9;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
