// Colorscheme: Red, White, and Blue (VGA)
// winapi names
$SCROLLBAR: #C0C0C0;
$DESKTOP: #000042;
$ACTIVECAPTION: #800000;
$INACTIVECAPTION: #808080;
$MENU: #C0C0C0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #C0C0C0;
$INACTIVEBORDER: #C0C0C0;
$APPWORKSPACE: #FFFFFF;
$HIGHLIGHT: #800000;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #C0C0C0;
$C3DSHADOW: #808080;
$GRAYTEXT: #808080;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C0C0C0;
$C3DHIGHLIGHT: #FFFFFF;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #C0C0C0;
$INFOTEXT: #000080;
$INFOBK: #FFFFFF;
$HOTLIGHT: #800000;
$GRADIENTACTIVECAPTION: #0010A8;
$GRADIENTINACTIVECAPTION: #BABEC9;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #C0C0C0;
$ActiveCaption: #800000;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #FFFFFF;
$Control: #C0C0C0;
$ControlDark: #808080;
$ControlDarkDark: #000000;
$ControlLight: #C0C0C0;
$ControlLightLight: #FFFFFF;
$ControlText: #000000;
$Desktop: #000042;
$GrayText: #808080;
$Highlight: #800000;
$HighlightText: #FFFFFF;
$HotTrack: #800000;
$InactiveBorder: #C0C0C0;
$InactiveCaption: #808080;
$InactiveCaptionText: #C0C0C0;
$Info: #FFFFFF;
$InfoText: #000080;
$Menu: #C0C0C0;
$MenuText: #000000;
$ScrollBar: #C0C0C0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
