// Colorscheme: Rose
// winapi names
$SCROLLBAR: #CFAFB7;
$DESKTOP: #808080;
$ACTIVECAPTION: #9F6070;
$INACTIVECAPTION: #A0A0A4;
$MENU: #CFAFB7;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #CFAFB7;
$INACTIVEBORDER: #CFAFB7;
$APPWORKSPACE: #9F6070;
$HIGHLIGHT: #9F6070;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #CFAFB7;
$C3DSHADOW: #9F6070;
$GRAYTEXT: #9F6070;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #7D7D7D;
$C3DHIGHLIGHT: #E7D8DC;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #CFAFB7;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #9F6070;
$GRADIENTACTIVECAPTION: #D8CCD0;
$GRADIENTINACTIVECAPTION: #D0D4D0;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #CFAFB7;
$ActiveCaption: #9F6070;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #9F6070;
$Control: #CFAFB7;
$ControlDark: #9F6070;
$ControlDarkDark: #000000;
$ControlLight: #CFAFB7;
$ControlLightLight: #E7D8DC;
$ControlText: #000000;
$Desktop: #808080;
$GrayText: #9F6070;
$Highlight: #9F6070;
$HighlightText: #FFFFFF;
$HotTrack: #9F6070;
$InactiveBorder: #CFAFB7;
$InactiveCaption: #A0A0A4;
$InactiveCaptionText: #7D7D7D;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #CFAFB7;
$MenuText: #000000;
$ScrollBar: #CFAFB7;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
