// Colorscheme: Slate
// winapi names
$SCROLLBAR: #CEDCE3;
$DESKTOP: #414141;
$ACTIVECAPTION: #558097;
$INACTIVECAPTION: #808080;
$MENU: #9DB9C8;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #9DB9C8;
$INACTIVEBORDER: #9DB9C8;
$APPWORKSPACE: #424242;
$HIGHLIGHT: #558097;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #9DB9C8;
$C3DSHADOW: #558097;
$GRAYTEXT: #558097;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C0C0C0;
$C3DHIGHLIGHT: #CEDCE3;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #9DB9C8;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #558097;
$GRADIENTACTIVECAPTION: #88B8D8;
$GRADIENTINACTIVECAPTION: #A0BCC8;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #9DB9C8;
$ActiveCaption: #558097;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #424242;
$Control: #9DB9C8;
$ControlDark: #558097;
$ControlDarkDark: #000000;
$ControlLight: #9DB9C8;
$ControlLightLight: #CEDCE3;
$ControlText: #000000;
$Desktop: #414141;
$GrayText: #558097;
$Highlight: #558097;
$HighlightText: #FFFFFF;
$HotTrack: #558097;
$InactiveBorder: #9DB9C8;
$InactiveCaption: #808080;
$InactiveCaptionText: #C0C0C0;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #9DB9C8;
$MenuText: #000000;
$ScrollBar: #CEDCE3;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
