// Colorscheme: 
// winapi names
$SCROLLBAR: #759AB0;
$DESKTOP: #0A0A0A;
$ACTIVECAPTION: #0F171C;
$INACTIVECAPTION: #121C21;
$MENU: #1C2931;
$WINDOW: #151515;
$WINDOWFRAME: #000000;
$MENUTEXT: #E9E9E9;
$WINDOWTEXT: #E9E9E9;
$CAPTIONTEXT: #E9E9E9;
$ACTIVEBORDER: #1C2931;
$INACTIVEBORDER: #1C2931;
$APPWORKSPACE: #121C21;
$HIGHLIGHT: #558097;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #1C2931;
$C3DSHADOW: #121C21;
$GRAYTEXT: #121C21;
$BTNTEXT: #E9E9E9;
$INACTIVECAPTIONTEXT: #C0C0C0;
$C3DHIGHLIGHT: #759AB0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #1C2931;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #558097;
$GRADIENTACTIVECAPTION: #183649;
$GRADIENTINACTIVECAPTION: #24363E;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #1C2931;
$ActiveCaption: #0F171C;
$ActiveCaptionText: #E9E9E9;
$AppWorkspace: #121C21;
$Control: #1C2931;
$ControlDark: #121C21;
$ControlDarkDark: #000000;
$ControlLight: #1C2931;
$ControlLightLight: #759AB0;
$ControlText: #E9E9E9;
$Desktop: #0A0A0A;
$GrayText: #121C21;
$Highlight: #558097;
$HighlightText: #FFFFFF;
$HotTrack: #558097;
$InactiveBorder: #1C2931;
$InactiveCaption: #121C21;
$InactiveCaptionText: #C0C0C0;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #1C2931;
$MenuText: #E9E9E9;
$ScrollBar: #759AB0;
$Window: #151515;
$WindowFrame: #000000;
$WindowText: #E9E9E9;
