// Colorscheme: Spruce Dark
// winapi names
$SCROLLBAR: #7AAF85;
$DESKTOP: #070E07;
$ACTIVECAPTION: #101B12;
$INACTIVECAPTION: #152217;
$MENU: #203524;
$WINDOW: #191919;
$WINDOWFRAME: #000000;
$MENUTEXT: #E9E9E9;
$WINDOWTEXT: #E9E9E9;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #203524;
$INACTIVEBORDER: #203524;
$APPWORKSPACE: #152217;
$HIGHLIGHT: #599764;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #203524;
$C3DSHADOW: #152217;
$GRAYTEXT: #152217;
$BTNTEXT: #E9E9E9;
$INACTIVECAPTIONTEXT: #A5B8A8;
$C3DHIGHLIGHT: #7AAF85;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #203524;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #599764;
$GRADIENTACTIVECAPTION: #0C2130;
$GRADIENTINACTIVECAPTION: #325639;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #203524;
$ActiveCaption: #101B12;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #152217;
$Control: #203524;
$ControlDark: #152217;
$ControlDarkDark: #000000;
$ControlLight: #203524;
$ControlLightLight: #7AAF85;
$ControlText: #E9E9E9;
$Desktop: #070E07;
$GrayText: #152217;
$Highlight: #599764;
$HighlightText: #FFFFFF;
$HotTrack: #599764;
$InactiveBorder: #203524;
$InactiveCaption: #152217;
$InactiveCaptionText: #A5B8A8;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #203524;
$MenuText: #E9E9E9;
$ScrollBar: #7AAF85;
$Window: #191919;
$WindowFrame: #000000;
$WindowText: #E9E9E9;
