// Colorscheme: Spruce
// winapi names
$SCROLLBAR: #D0E3D3;
$DESKTOP: #213F21;
$ACTIVECAPTION: #599764;
$INACTIVECAPTION: #808080;
$MENU: #A2C8A9;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #A2C8A9;
$INACTIVEBORDER: #A2C8A9;
$APPWORKSPACE: #D0E3D3;
$HIGHLIGHT: #599764;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #A2C8A9;
$C3DSHADOW: #599764;
$GRAYTEXT: #599764;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #D0E3D3;
$C3DHIGHLIGHT: #D0E3D3;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #A2C8A9;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #599764;
$GRADIENTACTIVECAPTION: #98C8E8;
$GRADIENTINACTIVECAPTION: #A8CCB0;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #A2C8A9;
$ActiveCaption: #599764;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #D0E3D3;
$Control: #A2C8A9;
$ControlDark: #599764;
$ControlDarkDark: #000000;
$ControlLight: #A2C8A9;
$ControlLightLight: #D0E3D3;
$ControlText: #000000;
$Desktop: #213F21;
$GrayText: #599764;
$Highlight: #599764;
$HighlightText: #FFFFFF;
$HotTrack: #599764;
$InactiveBorder: #A2C8A9;
$InactiveCaption: #808080;
$InactiveCaptionText: #D0E3D3;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #A2C8A9;
$MenuText: #000000;
$ScrollBar: #D0E3D3;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
