// Colorscheme: Standard Dark
// winapi names
$SCROLLBAR: #9F9486;
$DESKTOP: #0C151F;
$ACTIVECAPTION: #030D27;
$INACTIVECAPTION: #1D1A16;
$MENU: #2B2722;
$WINDOW: #151515;
$WINDOWFRAME: #000000;
$MENUTEXT: #D4D4D4;
$WINDOWTEXT: #D4D4D4;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #2B2722;
$INACTIVEBORDER: #2B2722;
$APPWORKSPACE: #1D1A16;
$HIGHLIGHT: #030D27;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #2B2722;
$C3DSHADOW: #1D1A16;
$GRAYTEXT: #1D1A16;
$BTNTEXT: #D4D4D4;
$INACTIVECAPTIONTEXT: #D4D0C8;
$C3DHIGHLIGHT: #9F9486;
$C3DDKSHADOW: #404040;
$C3DLIGHT: #2B2722;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #0F3157;
$GRADIENTINACTIVECAPTION: #505050;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #2B2722;
$ActiveCaption: #030D27;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #1D1A16;
$Control: #2B2722;
$ControlDark: #1D1A16;
$ControlDarkDark: #404040;
$ControlLight: #2B2722;
$ControlLightLight: #9F9486;
$ControlText: #D4D4D4;
$Desktop: #0C151F;
$GrayText: #1D1A16;
$Highlight: #030D27;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #2B2722;
$InactiveCaption: #1D1A16;
$InactiveCaptionText: #D4D0C8;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #2B2722;
$MenuText: #D4D4D4;
$ScrollBar: #9F9486;
$Window: #151515;
$WindowFrame: #000000;
$WindowText: #D4D4D4;
