// Colorscheme: Windows Standard
// winapi names
$SCROLLBAR: #D4D0C8;
$DESKTOP: #3A6EA5;
$ACTIVECAPTION: #0A246A;
$INACTIVECAPTION: #808080;
$MENU: #D4D0C8;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #D4D0C8;
$INACTIVEBORDER: #D4D0C8;
$APPWORKSPACE: #808080;
$HIGHLIGHT: #0A246A;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #D4D0C8;
$C3DSHADOW: #808080;
$GRAYTEXT: #808080;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #D4D0C8;
$C3DHIGHLIGHT: #FFFFFF;
$C3DDKSHADOW: #404040;
$C3DLIGHT: #D4D0C8;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #000080;
$GRADIENTACTIVECAPTION: #A6CAF0;
$GRADIENTINACTIVECAPTION: #C0C0C0;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #D4D0C8;
$ActiveCaption: #0A246A;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #808080;
$Control: #D4D0C8;
$ControlDark: #808080;
$ControlDarkDark: #404040;
$ControlLight: #D4D0C8;
$ControlLightLight: #FFFFFF;
$ControlText: #000000;
$Desktop: #3A6EA5;
$GrayText: #808080;
$Highlight: #0A246A;
$HighlightText: #FFFFFF;
$HotTrack: #000080;
$InactiveBorder: #D4D0C8;
$InactiveCaption: #808080;
$InactiveCaptionText: #D4D0C8;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #D4D0C8;
$MenuText: #000000;
$ScrollBar: #D4D0C8;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
