// Colorscheme: Storm (VGA) Dark
// winapi names
$SCROLLBAR: #929292;
$DESKTOP: #000000;
$ACTIVECAPTION: #2B002B;
$INACTIVECAPTION: #191919;
$MENU: #262626;
$WINDOW: #151515;
$WINDOWFRAME: #000000;
$MENUTEXT: #D4D4D4;
$WINDOWTEXT: #D4D4D4;
$CAPTIONTEXT: #D4D4D4;
$ACTIVEBORDER: #262626;
$INACTIVEBORDER: #262626;
$APPWORKSPACE: #191919;
$HIGHLIGHT: #800080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #262626;
$C3DSHADOW: #191919;
$GRAYTEXT: #191919;
$BTNTEXT: #D4D4D4;
$INACTIVECAPTIONTEXT: #C0C0C0;
$C3DHIGHLIGHT: #929292;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #262626;
$INFOTEXT: #800080;
$INFOBK: #FFFFFF;
$HOTLIGHT: #800080;
$GRADIENTACTIVECAPTION: #173C4A;
$GRADIENTINACTIVECAPTION: #3E423E;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #262626;
$ActiveCaption: #2B002B;
$ActiveCaptionText: #D4D4D4;
$AppWorkspace: #191919;
$Control: #262626;
$ControlDark: #191919;
$ControlDarkDark: #000000;
$ControlLight: #262626;
$ControlLightLight: #929292;
$ControlText: #D4D4D4;
$Desktop: #000000;
$GrayText: #191919;
$Highlight: #800080;
$HighlightText: #FFFFFF;
$HotTrack: #800080;
$InactiveBorder: #262626;
$InactiveCaption: #191919;
$InactiveCaptionText: #C0C0C0;
$Info: #FFFFFF;
$InfoText: #800080;
$Menu: #262626;
$MenuText: #D4D4D4;
$ScrollBar: #929292;
$Window: #151515;
$WindowFrame: #000000;
$WindowText: #D4D4D4;
