// Colorscheme: Wheat
// winapi names
$SCROLLBAR: #EEEED0;
$DESKTOP: #00401D;
$ACTIVECAPTION: #808000;
$INACTIVECAPTION: #BCBC41;
$MENU: #DEDEA0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #DEDEA0;
$INACTIVEBORDER: #DEDEA0;
$APPWORKSPACE: #BCBC41;
$HIGHLIGHT: #808000;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #DEDEA0;
$C3DSHADOW: #BCBC41;
$GRAYTEXT: #BCBC41;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #FFFFFF;
$C3DHIGHLIGHT: #EEEED0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #DEDEA0;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #808000;
$GRADIENTACTIVECAPTION: #C8B048;
$GRADIENTINACTIVECAPTION: #B8B880;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #DEDEA0;
$ActiveCaption: #808000;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #BCBC41;
$Control: #DEDEA0;
$ControlDark: #BCBC41;
$ControlDarkDark: #000000;
$ControlLight: #DEDEA0;
$ControlLightLight: #EEEED0;
$ControlText: #000000;
$Desktop: #00401D;
$GrayText: #BCBC41;
$Highlight: #808000;
$HighlightText: #FFFFFF;
$HotTrack: #808000;
$InactiveBorder: #DEDEA0;
$InactiveCaption: #BCBC41;
$InactiveCaptionText: #FFFFFF;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #DEDEA0;
$MenuText: #000000;
$ScrollBar: #EEEED0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
