// Colorscheme: 
// winapi names
$SCROLLBAR: #E8D0B8;
$DESKTOP: #8A664F;
$ACTIVECAPTION: #FF0000;
$INACTIVECAPTION: #A07038;
$MENU: #D0A870;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #D0A870;
$INACTIVEBORDER: #D0A870;
$APPWORKSPACE: #9F7335;
$HIGHLIGHT: #FF0000;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #D0A870;
$C3DSHADOW: #A07038;
$GRAYTEXT: #A07038;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #D0A870;
$C3DHIGHLIGHT: #E8D0B8;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #D0A870;
$INFOTEXT: #800000;
$INFOBK: #E1E0D2;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #FF0000;
$GRADIENTINACTIVECAPTION: #A07038;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #D0A870;
$ActiveCaption: #FF0000;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #9F7335;
$Control: #D0A870;
$ControlDark: #A07038;
$ControlDarkDark: #000000;
$ControlLight: #D0A870;
$ControlLightLight: #E8D0B8;
$ControlText: #000000;
$Desktop: #8A664F;
$GrayText: #A07038;
$Highlight: #FF0000;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #D0A870;
$InactiveCaption: #A07038;
$InactiveCaptionText: #D0A870;
$Info: #E1E0D2;
$InfoText: #800000;
$Menu: #D0A870;
$MenuText: #000000;
$ScrollBar: #E8D0B8;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
