// Colorscheme: 
// winapi names
$SCROLLBAR: #C0C0C0;
$DESKTOP: #00FF00;
$ACTIVECAPTION: #008000;
$INACTIVECAPTION: #A0A0A8;
$MENU: #FFFF00;
$WINDOW: #C0E0C0;
$WINDOWFRAME: #000000;
$MENUTEXT: #FF0000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #00FF00;
$ACTIVEBORDER: #C0C0C0;
$INACTIVEBORDER: #C0C0C0;
$APPWORKSPACE: #808080;
$HIGHLIGHT: #FFF8F0;
$HIGHLIGHTTEXT: #000000;
$C3DFACE: #C0C0C0;
$C3DSHADOW: #808080;
$GRAYTEXT: #808080;
$BTNTEXT: #000080;
$INACTIVECAPTIONTEXT: #C0E0C0;
$C3DHIGHLIGHT: #FFFFFF;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #E0E0E0;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #008000;
$GRADIENTINACTIVECAPTION: #A0A0A8;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #C0C0C0;
$ActiveCaption: #008000;
$ActiveCaptionText: #00FF00;
$AppWorkspace: #808080;
$Control: #C0C0C0;
$ControlDark: #808080;
$ControlDarkDark: #000000;
$ControlLight: #E0E0E0;
$ControlLightLight: #FFFFFF;
$ControlText: #000080;
$Desktop: #00FF00;
$GrayText: #808080;
$Highlight: #FFF8F0;
$HighlightText: #000000;
$HotTrack: #0000FF;
$InactiveBorder: #C0C0C0;
$InactiveCaption: #A0A0A8;
$InactiveCaptionText: #C0E0C0;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #FFFF00;
$MenuText: #FF0000;
$ScrollBar: #C0C0C0;
$Window: #C0E0C0;
$WindowFrame: #000000;
$WindowText: #000000;
