// Colorscheme: 
// winapi names
$SCROLLBAR: #C0C0C0;
$DESKTOP: #A6CAF0;
$ACTIVECAPTION: #800080;
$INACTIVECAPTION: #000000;
$MENU: #C0C0C0;
$WINDOW: #FFF8F0;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #800080;
$INACTIVEBORDER: #000000;
$APPWORKSPACE: #C0C0C0;
$HIGHLIGHT: #800080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #C0C0C0;
$C3DSHADOW: #808080;
$GRAYTEXT: #808080;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #A0A0A8;
$C3DHIGHLIGHT: #FFFFFF;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #E0E0E0;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #800080;
$GRADIENTINACTIVECAPTION: #000000;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #800080;
$ActiveCaption: #800080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #C0C0C0;
$Control: #C0C0C0;
$ControlDark: #808080;
$ControlDarkDark: #000000;
$ControlLight: #E0E0E0;
$ControlLightLight: #FFFFFF;
$ControlText: #000000;
$Desktop: #A6CAF0;
$GrayText: #808080;
$Highlight: #800080;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #000000;
$InactiveCaption: #000000;
$InactiveCaptionText: #A0A0A8;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #C0C0C0;
$MenuText: #000000;
$ScrollBar: #C0C0C0;
$Window: #FFF8F0;
$WindowFrame: #000000;
$WindowText: #000000;
