// Colorscheme: 
// winapi names
$SCROLLBAR: #DAE1ED;
$DESKTOP: #C0C0C0;
$ACTIVECAPTION: #008080;
$INACTIVECAPTION: #587AB1;
$MENU: #B4C3DC;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #B4C3DC;
$INACTIVEBORDER: #B4C3DC;
$APPWORKSPACE: #C0C0C0;
$HIGHLIGHT: #008080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #B4C3DC;
$C3DSHADOW: #587AB1;
$GRAYTEXT: #587AB1;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #000080;
$C3DHIGHLIGHT: #DAE1ED;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #B4C3DC;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #008080;
$GRADIENTINACTIVECAPTION: #587AB1;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #B4C3DC;
$ActiveCaption: #008080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #C0C0C0;
$Control: #B4C3DC;
$ControlDark: #587AB1;
$ControlDarkDark: #000000;
$ControlLight: #B4C3DC;
$ControlLightLight: #DAE1ED;
$ControlText: #000000;
$Desktop: #C0C0C0;
$GrayText: #587AB1;
$Highlight: #008080;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #B4C3DC;
$InactiveCaption: #587AB1;
$InactiveCaptionText: #000080;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #B4C3DC;
$MenuText: #000000;
$ScrollBar: #DAE1ED;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
