// Colorscheme: Dark
// winapi names
$SCROLLBAR: #949494;
$DESKTOP: #002B2B;
$ACTIVECAPTION: #00002B;
$INACTIVECAPTION: #1B1B1B;
$MENU: #2A2A2A;
$WINDOW: #2A2A2A;
$WINDOWFRAME: #000000;
$MENUTEXT: #D4D4D4;
$WINDOWTEXT: #D4D4D4;
$CAPTIONTEXT: #C0C0C0;
$ACTIVEBORDER: #2A2A2A;
$INACTIVEBORDER: #2A2A2A;
$APPWORKSPACE: #1B1B1B;
$HIGHLIGHT: #00002B;
$HIGHLIGHTTEXT: #D4D4D4;
$C3DFACE: #2A2A2A;
$C3DSHADOW: #1B1B1B;
$GRAYTEXT: #1B1B1B;
$BTNTEXT: #C0C0C0;
$INACTIVECAPTIONTEXT: #8A8A8A;
$C3DHIGHLIGHT: #949494;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #2A2A2A;
$INFOTEXT: #C0C0C0;
$INFOBK: #171709;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #104970;
$GRADIENTINACTIVECAPTION: #4E4E52;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #2A2A2A;
$ActiveCaption: #00002B;
$ActiveCaptionText: #C0C0C0;
$AppWorkspace: #1B1B1B;
$Control: #2A2A2A;
$ControlDark: #1B1B1B;
$ControlDarkDark: #000000;
$ControlLight: #2A2A2A;
$ControlLightLight: #949494;
$ControlText: #C0C0C0;
$Desktop: #002B2B;
$GrayText: #1B1B1B;
$Highlight: #00002B;
$HighlightText: #D4D4D4;
$HotTrack: #0000FF;
$InactiveBorder: #2A2A2A;
$InactiveCaption: #1B1B1B;
$InactiveCaptionText: #8A8A8A;
$Info: #171709;
$InfoText: #C0C0C0;
$Menu: #2A2A2A;
$MenuText: #D4D4D4;
$ScrollBar: #949494;
$Window: #2A2A2A;
$WindowFrame: #000000;
$WindowText: #D4D4D4;
