// Colorscheme: 
// winapi names
$SCROLLBAR: #C8D0D0;
$DESKTOP: #000080;
$ACTIVECAPTION: #FFFF00;
$INACTIVECAPTION: #000000;
$MENU: #9098A0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #000080;
$ACTIVEBORDER: #808080;
$INACTIVEBORDER: #606870;
$APPWORKSPACE: #9098A0;
$HIGHLIGHT: #000080;
$HIGHLIGHTTEXT: #FFFF00;
$C3DFACE: #9098A0;
$C3DSHADOW: #606870;
$GRAYTEXT: #606870;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C8D0D0;
$C3DHIGHLIGHT: #C8D0D0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #9098A0;
$INFOTEXT: #FFFFFF;
$INFOBK: #000080;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #FFFF00;
$GRADIENTINACTIVECAPTION: #000000;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #808080;
$ActiveCaption: #FFFF00;
$ActiveCaptionText: #000080;
$AppWorkspace: #9098A0;
$Control: #9098A0;
$ControlDark: #606870;
$ControlDarkDark: #000000;
$ControlLight: #9098A0;
$ControlLightLight: #C8D0D0;
$ControlText: #000000;
$Desktop: #000080;
$GrayText: #606870;
$Highlight: #000080;
$HighlightText: #FFFF00;
$HotTrack: #0000FF;
$InactiveBorder: #606870;
$InactiveCaption: #000000;
$InactiveCaptionText: #C8D0D0;
$Info: #000080;
$InfoText: #FFFFFF;
$Menu: #9098A0;
$MenuText: #000000;
$ScrollBar: #C8D0D0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
