// Colorscheme: 
// winapi names
$SCROLLBAR: #C0C0C0;
$DESKTOP: #FFFBF0;
$ACTIVECAPTION: #FF9900;
$INACTIVECAPTION: #FF0000;
$MENU: #C0C0C0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #FF9900;
$INACTIVEBORDER: #C0C0C0;
$APPWORKSPACE: #C0C0C0;
$HIGHLIGHT: #A8C8F0;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #C0C0C0;
$C3DSHADOW: #808080;
$GRAYTEXT: #808080;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C0C0C0;
$C3DHIGHLIGHT: #FFFFFF;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #E0E0E0;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #FF9900;
$GRADIENTINACTIVECAPTION: #FF0000;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #FF9900;
$ActiveCaption: #FF9900;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #C0C0C0;
$Control: #C0C0C0;
$ControlDark: #808080;
$ControlDarkDark: #000000;
$ControlLight: #E0E0E0;
$ControlLightLight: #FFFFFF;
$ControlText: #000000;
$Desktop: #FFFBF0;
$GrayText: #808080;
$Highlight: #A8C8F0;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #C0C0C0;
$InactiveCaption: #FF0000;
$InactiveCaptionText: #C0C0C0;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #C0C0C0;
$MenuText: #000000;
$ScrollBar: #C0C0C0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
