// Colorscheme: 
// winapi names
$SCROLLBAR: #D8E0D8;
$DESKTOP: #000000;
$ACTIVECAPTION: #E00000;
$INACTIVECAPTION: #60A880;
$MENU: #A8C8A8;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #A8C8A8;
$INACTIVEBORDER: #A8C8A8;
$APPWORKSPACE: #508F6C;
$HIGHLIGHT: #F8FFA0;
$HIGHLIGHTTEXT: #000000;
$C3DFACE: #A8C8A8;
$C3DSHADOW: #609860;
$GRAYTEXT: #609860;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #D8E0D8;
$C3DHIGHLIGHT: #D8E0D8;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #A8C8A8;
$INFOTEXT: #004848;
$INFOBK: #FFEFD2;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #E00000;
$GRADIENTINACTIVECAPTION: #60A880;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #A8C8A8;
$ActiveCaption: #E00000;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #508F6C;
$Control: #A8C8A8;
$ControlDark: #609860;
$ControlDarkDark: #000000;
$ControlLight: #A8C8A8;
$ControlLightLight: #D8E0D8;
$ControlText: #000000;
$Desktop: #000000;
$GrayText: #609860;
$Highlight: #F8FFA0;
$HighlightText: #000000;
$HotTrack: #0000FF;
$InactiveBorder: #A8C8A8;
$InactiveCaption: #60A880;
$InactiveCaptionText: #D8E0D8;
$Info: #FFEFD2;
$InfoText: #004848;
$Menu: #A8C8A8;
$MenuText: #000000;
$ScrollBar: #D8E0D8;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
