// Colorscheme: 
// winapi names
$SCROLLBAR: #DFD2D0;
$DESKTOP: #8B655C;
$ACTIVECAPTION: #800000;
$INACTIVECAPTION: #8B655C;
$MENU: #BFA59F;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #BFA59F;
$INACTIVEBORDER: #BFA59F;
$APPWORKSPACE: #8B655C;
$HIGHLIGHT: #800000;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #BFA59F;
$C3DSHADOW: #8B655C;
$GRAYTEXT: #8B655C;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #DFD2D0;
$C3DHIGHLIGHT: #DFD2D0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #BFA59F;
$INFOTEXT: #000000;
$INFOBK: #FFFFFF;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #800000;
$GRADIENTINACTIVECAPTION: #8B655C;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #BFA59F;
$ActiveCaption: #800000;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #8B655C;
$Control: #BFA59F;
$ControlDark: #8B655C;
$ControlDarkDark: #000000;
$ControlLight: #BFA59F;
$ControlLightLight: #DFD2D0;
$ControlText: #000000;
$Desktop: #8B655C;
$GrayText: #8B655C;
$Highlight: #800000;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #BFA59F;
$InactiveCaption: #8B655C;
$InactiveCaptionText: #DFD2D0;
$Info: #FFFFFF;
$InfoText: #000000;
$Menu: #BFA59F;
$MenuText: #000000;
$ScrollBar: #DFD2D0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
