// Colorscheme: 
// winapi names
$SCROLLBAR: #C8D0D0;
$DESKTOP: #000000;
$ACTIVECAPTION: #000000;
$INACTIVECAPTION: #606870;
$MENU: #9098A0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #F0D030;
$ACTIVEBORDER: #9098A0;
$INACTIVEBORDER: #9098A0;
$APPWORKSPACE: #5C656D;
$HIGHLIGHT: #F0D030;
$HIGHLIGHTTEXT: #000000;
$C3DFACE: #9098A0;
$C3DSHADOW: #606870;
$GRAYTEXT: #606870;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C8C8D0;
$C3DHIGHLIGHT: #C8D0D0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #9098A0;
$INFOTEXT: #000000;
$INFOBK: #F0D030;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #000000;
$GRADIENTINACTIVECAPTION: #606870;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #9098A0;
$ActiveCaption: #000000;
$ActiveCaptionText: #F0D030;
$AppWorkspace: #5C656D;
$Control: #9098A0;
$ControlDark: #606870;
$ControlDarkDark: #000000;
$ControlLight: #9098A0;
$ControlLightLight: #C8D0D0;
$ControlText: #000000;
$Desktop: #000000;
$GrayText: #606870;
$Highlight: #F0D030;
$HighlightText: #000000;
$HotTrack: #0000FF;
$InactiveBorder: #9098A0;
$InactiveCaption: #606870;
$InactiveCaptionText: #C8C8D0;
$Info: #F0D030;
$InfoText: #000000;
$Menu: #9098A0;
$MenuText: #000000;
$ScrollBar: #C8D0D0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
