// Colorscheme: 
// winapi names
$SCROLLBAR: #C0C0C0;
$DESKTOP: #F18D29;
$ACTIVECAPTION: #000080;
$INACTIVECAPTION: #D00000;
$MENU: #C0C0C0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #C0C0C0;
$INACTIVEBORDER: #C0C0C0;
$APPWORKSPACE: #CDA252;
$HIGHLIGHT: #B01070;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #C0C0C0;
$C3DSHADOW: #808080;
$GRAYTEXT: #808080;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #FFFFFF;
$C3DHIGHLIGHT: #FFFFFF;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #E0E0E0;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #C00060;
$GRADIENTINACTIVECAPTION: #F89800;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #C0C0C0;
$ActiveCaption: #000080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #CDA252;
$Control: #C0C0C0;
$ControlDark: #808080;
$ControlDarkDark: #000000;
$ControlLight: #E0E0E0;
$ControlLightLight: #FFFFFF;
$ControlText: #000000;
$Desktop: #F18D29;
$GrayText: #808080;
$Highlight: #B01070;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #C0C0C0;
$InactiveCaption: #D00000;
$InactiveCaptionText: #FFFFFF;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #C0C0C0;
$MenuText: #000000;
$ScrollBar: #C0C0C0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
