// Colorscheme: 
// winapi names
$SCROLLBAR: #C1CCD9;
$DESKTOP: #4F657D;
$ACTIVECAPTION: #008080;
$INACTIVECAPTION: #A0A0A4;
$MENU: #8399B1;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #8399B1;
$INACTIVEBORDER: #8399B1;
$APPWORKSPACE: #808080;
$HIGHLIGHT: #008080;
$HIGHLIGHTTEXT: #FFFFFF;
$C3DFACE: #8399B1;
$C3DSHADOW: #4F657D;
$GRAYTEXT: #4F657D;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #C1CCD9;
$C3DHIGHLIGHT: #C1CCD9;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #8399B1;
$INFOTEXT: #000000;
$INFOBK: #C1CCD9;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #008080;
$GRADIENTINACTIVECAPTION: #A0A0A4;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #8399B1;
$ActiveCaption: #008080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #808080;
$Control: #8399B1;
$ControlDark: #4F657D;
$ControlDarkDark: #000000;
$ControlLight: #8399B1;
$ControlLightLight: #C1CCD9;
$ControlText: #000000;
$Desktop: #4F657D;
$GrayText: #4F657D;
$Highlight: #008080;
$HighlightText: #FFFFFF;
$HotTrack: #0000FF;
$InactiveBorder: #8399B1;
$InactiveCaption: #A0A0A4;
$InactiveCaptionText: #C1CCD9;
$Info: #C1CCD9;
$InfoText: #000000;
$Menu: #8399B1;
$MenuText: #000000;
$ScrollBar: #C1CCD9;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
