// Colorscheme: 
// winapi names
$SCROLLBAR: #C0C0C0;
$DESKTOP: #000000;
$ACTIVECAPTION: #008080;
$INACTIVECAPTION: #008000;
$MENU: #B0E0A0;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #008000;
$WINDOWTEXT: #008000;
$CAPTIONTEXT: #000000;
$ACTIVEBORDER: #B0E0A0;
$INACTIVEBORDER: #68B848;
$APPWORKSPACE: #D8F0D0;
$HIGHLIGHT: #FFFF00;
$HIGHLIGHTTEXT: #000000;
$C3DFACE: #B0E0A0;
$C3DSHADOW: #68B848;
$GRAYTEXT: #68B848;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #B0E0A0;
$C3DHIGHLIGHT: #D8F0D0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #C0C0C0;
$INFOTEXT: #000000;
$INFOBK: #FFFF00;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #008080;
$GRADIENTINACTIVECAPTION: #008000;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #B0E0A0;
$ActiveCaption: #008080;
$ActiveCaptionText: #000000;
$AppWorkspace: #D8F0D0;
$Control: #B0E0A0;
$ControlDark: #68B848;
$ControlDarkDark: #000000;
$ControlLight: #C0C0C0;
$ControlLightLight: #D8F0D0;
$ControlText: #000000;
$Desktop: #000000;
$GrayText: #68B848;
$Highlight: #FFFF00;
$HighlightText: #000000;
$HotTrack: #0000FF;
$InactiveBorder: #68B848;
$InactiveCaption: #008000;
$InactiveCaptionText: #B0E0A0;
$Info: #FFFF00;
$InfoText: #000000;
$Menu: #B0E0A0;
$MenuText: #008000;
$ScrollBar: #C0C0C0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #008000;
