// Colorscheme: 
// winapi names
$SCROLLBAR: #DCE4DC;
$DESKTOP: #000000;
$ACTIVECAPTION: #D87060;
$INACTIVECAPTION: #708F70;
$MENU: #B8C8B8;
$WINDOW: #FFF8E0;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFF8E0;
$ACTIVEBORDER: #B8C8B8;
$INACTIVEBORDER: #B8C8B8;
$APPWORKSPACE: #708F70;
$HIGHLIGHT: #8088A8;
$HIGHLIGHTTEXT: #FFF8E0;
$C3DFACE: #B8C8B8;
$C3DSHADOW: #708F70;
$GRAYTEXT: #708F70;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #000000;
$C3DHIGHLIGHT: #DCE4DC;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #B8C8B8;
$INFOTEXT: #000000;
$INFOBK: #FFFFE1;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #D87060;
$GRADIENTINACTIVECAPTION: #708F70;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #B8C8B8;
$ActiveCaption: #D87060;
$ActiveCaptionText: #FFF8E0;
$AppWorkspace: #708F70;
$Control: #B8C8B8;
$ControlDark: #708F70;
$ControlDarkDark: #000000;
$ControlLight: #B8C8B8;
$ControlLightLight: #DCE4DC;
$ControlText: #000000;
$Desktop: #000000;
$GrayText: #708F70;
$Highlight: #8088A8;
$HighlightText: #FFF8E0;
$HotTrack: #0000FF;
$InactiveBorder: #B8C8B8;
$InactiveCaption: #708F70;
$InactiveCaptionText: #000000;
$Info: #FFFFE1;
$InfoText: #000000;
$Menu: #B8C8B8;
$MenuText: #000000;
$ScrollBar: #DCE4DC;
$Window: #FFF8E0;
$WindowFrame: #000000;
$WindowText: #000000;
