// Colorscheme: 
// winapi names
$SCROLLBAR: #E8B8F0;
$DESKTOP: #A030A8;
$ACTIVECAPTION: #000080;
$INACTIVECAPTION: #A030A8;
$MENU: #D068D8;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFFFFF;
$ACTIVEBORDER: #D068D8;
$INACTIVEBORDER: #D068D8;
$APPWORKSPACE: #800080;
$HIGHLIGHT: #00FF00;
$HIGHLIGHTTEXT: #000000;
$C3DFACE: #D068D8;
$C3DSHADOW: #A030A8;
$GRAYTEXT: #A030A8;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #E8B8F0;
$C3DHIGHLIGHT: #E8B8F0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #D068D8;
$INFOTEXT: #000000;
$INFOBK: #FFFF00;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #000080;
$GRADIENTINACTIVECAPTION: #A030A8;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #D068D8;
$ActiveCaption: #000080;
$ActiveCaptionText: #FFFFFF;
$AppWorkspace: #800080;
$Control: #D068D8;
$ControlDark: #A030A8;
$ControlDarkDark: #000000;
$ControlLight: #D068D8;
$ControlLightLight: #E8B8F0;
$ControlText: #000000;
$Desktop: #A030A8;
$GrayText: #A030A8;
$Highlight: #00FF00;
$HighlightText: #000000;
$HotTrack: #0000FF;
$InactiveBorder: #D068D8;
$InactiveCaption: #A030A8;
$InactiveCaptionText: #E8B8F0;
$Info: #FFFF00;
$InfoText: #000000;
$Menu: #D068D8;
$MenuText: #000000;
$ScrollBar: #E8B8F0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
