// Colorscheme: 
// winapi names
$SCROLLBAR: #98B0E0;
$DESKTOP: #284880;
$ACTIVECAPTION: #000030;
$INACTIVECAPTION: #284880;
$MENU: #3868C8;
$WINDOW: #FFFFFF;
$WINDOWFRAME: #000000;
$MENUTEXT: #000000;
$WINDOWTEXT: #000000;
$CAPTIONTEXT: #FFC040;
$ACTIVEBORDER: #3868C8;
$INACTIVEBORDER: #3868C8;
$APPWORKSPACE: #254483;
$HIGHLIGHT: #FFC040;
$HIGHLIGHTTEXT: #000000;
$C3DFACE: #3868C8;
$C3DSHADOW: #284880;
$GRAYTEXT: #284880;
$BTNTEXT: #000000;
$INACTIVECAPTIONTEXT: #A8B8D8;
$C3DHIGHLIGHT: #98B0E0;
$C3DDKSHADOW: #000000;
$C3DLIGHT: #3868C8;
$INFOTEXT: #800080;
$INFOBK: #FFFFFF;
$HOTLIGHT: #0000FF;
$GRADIENTACTIVECAPTION: #000030;
$GRADIENTINACTIVECAPTION: #284880;
$MENUHILIGHT: #000000;
$MENUBAR: #000000;
// dotnet names 
$ActiveBorder: #3868C8;
$ActiveCaption: #000030;
$ActiveCaptionText: #FFC040;
$AppWorkspace: #254483;
$Control: #3868C8;
$ControlDark: #284880;
$ControlDarkDark: #000000;
$ControlLight: #3868C8;
$ControlLightLight: #98B0E0;
$ControlText: #000000;
$Desktop: #284880;
$GrayText: #284880;
$Highlight: #FFC040;
$HighlightText: #000000;
$HotTrack: #0000FF;
$InactiveBorder: #3868C8;
$InactiveCaption: #284880;
$InactiveCaptionText: #A8B8D8;
$Info: #FFFFFF;
$InfoText: #800080;
$Menu: #3868C8;
$MenuText: #000000;
$ScrollBar: #98B0E0;
$Window: #FFFFFF;
$WindowFrame: #000000;
$WindowText: #000000;
