
/* Headerbar */

headerbar{
    .title,
    .subtitle {
        color: $CAPTIONTEXT;
    }
    .title:backdrop,
    .subtitle:backdrop {
        color: $INACTIVECAPTIONTEXT;
    }
    
    button, button:hover, button:focus, button:checked{
        padding-top:1px;
        padding-bottom:1px;
        background-color: $C3DFACE;
        // TODO: Less intrusive backgrounds and borders
        // for buttons in headerbars
   //     box-shadow: 0px 0px 0px 1px $C3DDKSHADOW;
    }
    button:not(.flat):active,button:not(.flat):active:hover{
        padding-top:2px;
        padding-bottom:0px;
    }
    toolitem entry{
        padding-top:1px;
        padding-bottom:1px;
    }
    &:not(.titlebar) {
        padding: 2px;
        background-color: $C3DFACE;
        background-image: none;
        color: $BTNTEXT;
    }

    .title {
        font-weight: bold;
        padding: 0 12px;
    }
    .flat{
        background-color:transparent;
    }
    .subtitle {
        font-size: smaller;
        padding: 0 12px;
    }

    entry:active,
    entry selection:focus {
        border-width: 1px;
        border-color: shade($HIGHLIGHT, 0.6);
    }


}


.titlebar 
{
    border-radius: 0;	
    padding:1px;
    background-image: linear-gradient(to right, $ACTIVECAPTION, $GRADIENTACTIVECAPTION);
    background-color: $ACTIVECAPTION;
    color: $CAPTIONTEXT;
    &:backdrop{
        color: $INACTIVECAPTIONTEXT;
        background-image: linear-gradient(to right, $INACTIVECAPTION, $GRADIENTINACTIVECAPTION);
        background-color: $INACTIVECAPTION;
    }

    headerbar {
        margin-top: -2px;
        margin-bottom:-2px;
        background-color: transparent;
    }
    .title {
        font-weight: bold;
    }
    .titlebutton {
    
		padding: 	inherit	;
        margin-top: 1px;
        margin-bottom: 1px;
        
        &.minimize {
            margin-right:-3px;
            &, &>image{
                -gtk-icon-source: image(url(if($variant == 'light',"assets/minimize.svg","assets/minimize-dark.svg")));
            }
        }
        &.maximize {
            margin-left:-3px;
            &, &>image{
                -gtk-icon-source: image(url(if($variant == 'light',"assets/maximize.svg","assets/maximize-dark.svg")));
            }
            
        }
        &.close{
            margin-left:-4px;
            &, &>image{
                -gtk-icon-source: image(url(if($variant == 'light',"assets/close.svg","assets/close-dark.svg")));
            }
        }
        image{
            margin-top: -1px;
            margin-bottom: -1px;
        }
        &:active image{
            margin-top:-2px;
            margin-bottom:-2px;
        }
    }
}

headerbar 
headerbar.titlebar{
    entry,.entry{
        margin:-2px;
        padding:0px 5px;
    }
}