%check,
check {
    background-color: $WINDOW;
    box-shadow: $check_border;
    border-style: none;
    color: $WINDOWTEXT;
    &:checked {
        background-color: $WINDOW;
        -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg")));
    }

    &:indeterminate {
        background-color: $WINDOW;
        -gtk-icon-source: image(-gtk-recolor(url("assets/indeterminate-symbolic.svg")));
    }
    &:checked:disabled{
        background-color: $C3DFACE;
        -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic-disabled.svg")));
    }
}

%radio,
radio {
    border-radius: 100%;
    border-style: none;
    box-shadow: $radio_border;
    background-color: $WINDOW;
    color: $WINDOWTEXT;
    &:disabled {
        background-color: $C3DFACE;
    }
    &:checked {
        -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")));
        background-color: $WINDOW;
    }

    &:selected {
        background-color: $WINDOW;
    }
    &:indeterminate {
        -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic-indeterminate.svg")));
        background-color: $WINDOW;
    }
    &:checked:disabled{
        -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic-disabled.svg")));
        background-color: $C3DFACE;
    }
}