
/* Headerbar */

headerbar{
	.title,
	.subtitle {
		color: $titlebar-fg-color;
	}
	.title:backdrop,
	.subtitle:backdrop {
		color: $titlebar-inactive-fg;
	}
	
    button, button:hover, button:focus, button:checked{
		padding-top:1px;
		padding-bottom:1px;
		background-color: $control_bg;
    }
    button:not(.flat):active,button:not(.flat):active:hover{
        padding-top:2px;
		padding-bottom:0px;
    }
    toolitem entry{
		padding-top:1px;
		padding-bottom:1px;
    }
    &:not(.titlebar) {
		padding: 2px;
		background-color: $control_bg;
		background-image: none;
		color: $control-fg;
	}

	.title {
		font-weight: bold;
		padding: 0 12px;
	}
	.flat{
	
		
		background-color:transparent;
	}
	.subtitle {
		font-size: smaller;
		padding: 0 12px;
	}

	entry:active,
	entry selection:focus {
		border-width: 1px;
		border-color: shade($selected_bg, 0.6);
	}


}


.titlebar 
{
	border-radius: 0;	
    padding:2px;
    background-image: linear-gradient(to right, $titlebar-bg-start, $titlebar-bg-end);
    background-color: $titlebar-bg-start;
    color: $titlebar-fg-color;


    headerbar {
		margin-top: -2px;
		margin-bottom:-2px;
		background-color: transparent;
    }
    .title {
		font-weight: bold;
	}
	.titlebutton {
		padding: 0
	
    }
    .minimize {
		margin-right:-3px;
    		margin-top:-1px;
		margin-bottom: -1px;
    }
    .maximize {
		margin-left:-3px;
    		margin-top:-1px;
		margin-bottom: -1px;
    }
    .close{
    		margin-top:-1px;
		margin-bottom: -1px;
		margin-left:-4px;
    }
    .icon{
		margin-top:-2px;
		margin-bottom:-2px
    }
	.titlebutton.minimize {
		margin-right:-3px;
		margin-top:-1px;
		margin-bottom: -1px;
	}
		
	.titlebutton.maximize {
		margin-left:-3px;
		margin-top:-1px;
		margin-bottom: -1px;
	}

	.titlebutton.close{
		margin-top:-1px;
		margin-bottom: -1px;
		margin-left:-4px;
	}

}

headerbar 
headerbar.titlebar{
    entry,.entry{
        margin:-2px;
        padding:0px 5px;
    }
}