/* progressbar */
 progressbar {
    trough,
    progress {
        min-height: 18px;
    }
    trough {
        padding: 2px;
        @include border(fixed);
    }
    progress {
        color: $selected_fg;
        background-color: $selected_bg;
    }
    &.vertical {
        trough,
        progress {
            min-height: 0;
            min-width: 18px;
        }
        text {
            color: transparent;
            background-color: transparent;
        }
    }
}
 /* spinner */
spinner {
    background: none;
    opacity: 0;
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}
spinner:checked {
    opacity: 1;
    animation: spin 1s linear infinite;
}


/* levelbar */
levelbar {
    @include border(fixed);
    trough {
        padding: 2px;
        border-radius: 0px;
        background-color: $control_bg;
        border: none;

        @include border(fixed);
    }

    block {
        padding: 2px;
        margin: 1px;
        border-radius: 1px;
        border: none;
        outline: 0;
        &.filled {
            background-color: $selected_bg;
        }
        &.high {
            background-color: $selected_bg;
        }

        &.low {
            background-color: $selected_bg;
        }

        &.empty {
            background-color: transparent;
        }
    }
}