
spinbutton, spinbutton.vertical {
    color: $control_fg;
    @include border(textbox);
    padding: 2px;

    entry {
        box-shadow: none;
    }
    >button.down,
    >button.up {
        @include button_flat(normal);
        @include combobox_button(normal);
        &:focus {
            @include button_flat(default);
            @include combobox_button(normal);
        }
        &:active {
            @include button_flat(pressed);
            @include combobox_button(pressed);
        }
    }

    &:disabled {
        @include border(textbox);
        entry {
            box-shadow: none;
        }
    }
}