switch {
	padding: 2px;
	@include border(fixed);
	color: $BTNTEXT;
    background-color: darken($C3DFACE,5%);
    &:checked {
        background-color: $HIGHLIGHT;
        color: $HIGHLIGHT;
    }
    &:disabled {
        background-color: $C3DFACE;
        color: $GRAYTEXT;
        slider {
            box-shadow: none;
            border-color: $GRAYTEXT;
        }
    }
    slider {
        min-width: 16px;
        min-height: 16px;
        border: none;
        background-color: $C3DFACE;
        color: $BTNTEXT;
        box-shadow: $button_border_normal;
    }
}
