switch {
	padding: 2px;
	@include border(fixed);
	color: $control_bg;
    &:checked {
        background-color: $selected_bg;
        color: $selected_bg;
    }
    &:disabled {
        background-color: $control_bg;
        color: $disabled_fg;
        slider {
            box-shadow: none;
            border-color: $disabled_fg;
        }
    }
    slider {
        min-width: 18px;
        min-height: 18px;
        border-width: 1px;
        border-radius: 0px;
        border-style: solid;
        border-color: $control-fg;
        border-top-color: #f1f1f1;
        border-left-color: #f1f1f1;
        background-color: $control_bg;
        color: $control-fg;
        box-shadow: inset -1px 0 shade($control_bg, 0.65), inset 0 -1px shade($control_bg, 0.65), inset 1px 0 #f1f1f1,
            inset 0 1px #f1f1f1;
    }
}
