

.view,
%view {

  outline: none;
  color: $WINDOWTEXT;
  background-color: $WINDOW;
  
  header{
	background-color:$C3DFACE;
	color:$BTNTEXT;
  }
  &:disabled {
    @include disabled;
  }

  &:selected {
    &:focus, & {
      @extend %selected_items;

      border-radius: 3px;
    }
  }
}
.view,
textview {

  text {
    @extend %view;
    selection { &:focus, & { @extend %selected_items; }}
  }
}
treeview>header>button{

  padding: 			2px 6px;
  &:active{
    padding-top: 		3px;
    padding-bottom:		1px;
    padding-left:		7px;
    padding-right:      5px;
  }
}

.rubberband,
rubberband {
  border: 1px dotted $GRAYTEXT;
  background-color: transparentize($HIGHLIGHT, 1);
}

// For some reason nemo and caja doesn't respect the 'dotted' border style
// so we'll just use the "modern" translucent background style
.nemo-window, .caja-navigation-window{
  .rubberband,
   rubberband {
    border: 1px solid darken($HIGHLIGHT, 0.1);
    background-color: transparentize($HIGHLIGHT, 0.8);
  }

} 
