

.view,
%view {

  outline: none;
  color: $document_fg;
  background-color: $document_bg;
  
  header{
	background-color:$control_bg;
	color:$control_fg;
  }
  &:disabled {
    @include disabled;
  }

  &:selected {
    &:focus, & {
      @extend %selected_items;

      border-radius: 3px;
    }
  }
}
.view,
textview {

  text {
    @extend %view;
    selection { &:focus, & { @extend %selected_items; }}
  }
}
treeview>header>button{

  padding: 			2px 6px;
  &:active{
    padding-top: 		3px;
    padding-bottom:		1px;
    padding-left:		7px;
    padding-right:      5px;
  }
}