$black: #000; 
$white: #FFF; 
$grey: #aaa;
$red: #f00;
$green: #0f0; 
$blue: #00f; 

$control_bg:   if($variant == 'light',#bababa,#222222);
$control_fg:   if($variant == 'light',#000000,#ffffff);
$selected_bg:  if($variant == 'light',#000082,#6666ee);
$selected_fg:  if($variant == 'light',#ffffff,#000000);
$document_bg:  if($variant == 'light',#ffffff,#000000);
$document_fg:  if($variant == 'light',#000000,#ffffff);
$disabled_fg:  if($variant == 'light',#848484,#777777);
$tooltip_bg:   if($variant == 'light',#FFFFBF,#777777);
$tooltip_fg:   if($variant == 'light',#000000,#dedede);

// 3d colors
$shadow:       if($variant == 'light',#808080,#777777);
$highlight:    if($variant == 'light',#FFFFFF,#777777);
$dim_highlight:if($variant == 'light',#DFDFDF,#777777); 

//Window Frame
$titlebar-bg:       if($variant == 'light',#000080,#777777);
$titlebar-bg-start:       $titlebar-bg;
$titlebar-bg-end:         if($variant == 'light',#A6CAF0,#777777); 
$titlebar-fg-color:       if($variant == 'light',#FFFFFF,#777777); 

$titlebar-inactive-start: if($variant == 'light',#808080,#777777); 
$titlebar-inactive-end:   if($variant == 'light',#C0C0C0,#777777); 
$titlebar-inactive-fg:    if($variant == 'light',#D4D0C8,#777777); 

$warning-bg: #999900;
$warning-fg: #ffffcc;
$error-bg: #990000;
$error-fg: #ffcccc;
$question-bg: #cccccc;
$question-fg: #000000;

$success-color: #53d013;
$warning_color: #f57600;
$error_color: #cc0000;
