
@mixin border($type)
{
	border:none;
	border-radius: 0px;
	@if $type == fixed{
	    box-shadow:  	$fixed3d_border;
	    padding: 2px;
	} @else if $type == textbox{
	    box-shadow:	    $textbox_border;	
	} @else if $type == progressbar{
		box-shadow: 	$progressbar_border;
	} @else if $type == menu {
		box-shadow:		$menu_border;
	} @else if $type == toolbar{
		box-shadow: 	$slim_border;
	} @else if $type == window {
		box-shadow: 	$window_border;
	}
}


@mixin button_3d($state)
{
	@if $state == normal{
		padding: 			5px 4px;
		box-shadow:			$button_border_normal;
	} @else if $state == pressed{
		padding-top: 		6px;
		padding-bottom:		4px;
		padding-left:		5px;
		padding-right:      3px;
		box-shadow:			$button_border_pressed;
	} @else if $state == default{
		box-shadow:			$button_border_default;
	} @else if $state == checked{
		box-shadow:			$button_border_checked;
	} 
}
@mixin button_flat($state)
{
	@if $state == normal{
		box-shadow: 		$flatbt_border_normal;
		padding: 			2px;
	}@else if $state == hover{	
		padding: 			2px;
		box-shadow: 		$flatbt_border_hover;
	}@else if $state==pressed{	
		padding-top:		3px;
		padding-left:3px;
		padding-right:1px;
		padding-bottom:		1px;
		
		box-shadow:			$flatbt_border_pressed;
	}@else if $state==default{
		padding:2px;
		box-shadow:$flatbt_border_normal;
		outline: 1px dotted $C3DSHADOW;
	}@else if $state==checked{
		padding:2px;
		box-shadow:			$flatbt_border_pressed;
		background-color: 	shade($C3DFACE, 1.08);
	}
}
@mixin combobox_button($state)
{
	@if $state == pressed{
		box-shadow: 		$combobox_button_pressed_border;

	} @else if $state == normal{
		box-shadow:			$combobox_button_border;
	}
}

@mixin disabled{
		color: $GRAYTEXT;
		text-shadow: $disabled_text_shadow;
		
}

%selected_items {
  background-color: $HIGHLIGHT;

  @at-root %nobg_selected_items, & {
    color: $HIGHLIGHTTEXT;
  }
}