$fixed3d_border:		    inset 0px 0px 0px 2px $BTNTEXT,
                            inset -1px -1px 0px 1px $C3DHIGHLIGHT,
                            inset 0px 0px 0px 1px $C3DSHADOW,
                            inset -1px -1px 0px 0px $C3DHIGHLIGHT;
                            
$textbox_border:		    inset 0px 0px 0px 2px $BTNTEXT,
                            inset -1px -1px 0px 1px $C3DFACE,
                            inset 0px 0px 0px 1px $C3DSHADOW,
                            inset -1px -1px 0px 0px $C3DHIGHLIGHT;
                                                    
$check_border:		        inset 0px 0px 0px 2px $BTNTEXT,
                            inset -1px -1px 0px 1px $C3DFACE,
                            inset 0px 0px 0px 1px $C3DSHADOW,
                            inset -1px -1px 0px 0px $C3DHIGHLIGHT;
$radio_border:		    
                            inset 0px 0px 0px 3px $BTNTEXT,
                            inset -2px 0px 0px 1px $C3DFACE,
                            inset 0px -2px 0px 1px $C3DFACE,
                            inset -1px -2px 0px 1px $C3DFACE,
                            inset 0px 0px 0px 2px $C3DSHADOW,
                            inset -1px -1px 0px 1px $C3DHIGHLIGHT,
                            inset 0px -1px 0px 1px $C3DHIGHLIGHT,
                            inset -1px 0px 0px 1px $C3DHIGHLIGHT,
                            inset 0px 0px 0px 1.05px $C3DFACE;				
$progressbar_border: 	    0px -1px 0px 0px $C3DSHADOW,
                            -1px 0px 0px 0px $C3DSHADOW,
                            -1px -1px 0px 0px $C3DSHADOW,
                             0px 0px 0px 1px $C3DHIGHLIGHT;
$menu_border: 			    inset 0px 0px 0px 2px $C3DHIGHLIGHT,
                            inset -1px -1px 0px 1px $C3DSHADOW,
                            inset 0px 0px 0px 1px $C3DFACE,
                            inset -1px -1px 0px 0px $BTNTEXT;

$slim_border: 			    inset 0px 0px 0px 2px $C3DSHADOW,
                            inset 2px 2px 0px 0px $C3DHIGHLIGHT,
                            inset -2px -2px 0px 0px $C3DSHADOW,
                            inset -1px -1px 0px 0px $C3DHIGHLIGHT,
                            inset 0px -1px 0px 0px $C3DHIGHLIGHT,
                            inset -1px 0px 0px 0px $C3DHIGHLIGHT,
                            inset 1px 1px 0px 0px $C3DSHADOW,
                            inset 0px 1px 0px 0px $C3DSHADOW,
                            inset 1px 0px 0px 0px $C3DSHADOW,
                            inset 0px -1px 0px 0px $C3DHIGHLIGHT,
                            inset -1px 0px 0px 0px $C3DHIGHLIGHT;

$window_border:			    0px 0px 0px 3px $BTNTEXT,
                            -1px -1px 0px 2px $C3DFACE,
                            -1px 0px 0px 2px $C3DFACE,
                            0px -1px 0px 2px $C3DFACE,
                            0px 0px 0px 2px $C3DSHADOW,
                            -1px -1px 0px 1px $C3DHIGHLIGHT,
                            -1px 0px 0px 1px $C3DHIGHLIGHT,
                            0px -1px 0px 1px $C3DHIGHLIGHT,
                            0px 0px 0px 1px $C3DFACE;
$button_border_normal:      inset -1px -1px 0px 1px $C3DSHADOW,
                            inset 0px 0px 0px 1px $C3DHIGHLIGHT,
                            inset -1px -1px 0px 0px $BTNTEXT;
$button_border_pressed:	    inset 0px 0px 0px 2px $C3DSHADOW,
                            inset 0px 0px 0px 1px $BTNTEXT;
$button_border_default:	    inset -1px -1px 0px 2px $C3DSHADOW,
                            inset 0px 0px 0px 2px $C3DHIGHLIGHT,
                            inset 0px 0px 0px 1px $BTNTEXT,
                            inset -1px -1px 0px 1px $BTNTEXT;
$button_border_checked:	    inset 0px 0px 0px 2px $C3DSHADOW,
                            inset -1px -1px 0px 1px $C3DLIGHT,
                            inset 0px 0px 0px 1px $BTNTEXT,
                            inset -1px -1px 0px 0px $C3DHIGHLIGHT;
$flatbt_border_normal:      none;
$flatbt_border_hover: 	    inset 0px 0px 0px 1px $C3DHIGHLIGHT,
                            inset -1px -1px 0px 0px $C3DSHADOW;
$flatbt_border_pressed:	    inset 0px 0px 0px 1px $C3DSHADOW,
                            inset -1px -1px 0px 0px $C3DHIGHLIGHT;


$separator_horiz: 		    inset 0px -1px 0px 0px $C3DHIGHLIGHT,
                            inset 0px 1px 0px 0px $C3DSHADOW;
$separator_verti: 		    inset -1px 0px 0px 0px $C3DHIGHLIGHT,
                            inset 1px 0px 0px 0px $C3DSHADOW;
/* Notebook tab borders */
$tab-top-active-border:		inset -2px 0px 0px 0px $C3DSHADOW,
                            inset 1px 1px 0px 0px $C3DHIGHLIGHT,
                            inset -1px 0px 0px 0px $BTNTEXT;
$tab-top-border:			inset -2px 0px 0px 0px $C3DSHADOW,
                            inset 1px 1px 0px 0px $C3DHIGHLIGHT,
                            inset -1px 0px 0px 0px $BTNTEXT,
                            inset 0px -1px 0px 0px $C3DHIGHLIGHT;
                            
$tab-btm-active-border:		inset -2px -2px 0px 0px $C3DSHADOW,
                            inset -1px -1px 0px 0px $BTNTEXT,
                            inset 1px 0px 0px 0px $C3DHIGHLIGHT;
                            
$tab-btm-border:			inset -2px -2px 0px 0px $C3DSHADOW,
                            inset -1px -1px 0px 0px $BTNTEXT,
                            inset 1px 0px 0px 0px $C3DHIGHLIGHT,
                            inset 0 2px 0px 0px $BTNTEXT,
                            inset 0px 1px 0px 0px $C3DSHADOW;	
$tab-left-active-border:	inset 0px -2px 0px 0px $C3DSHADOW,
                            inset 0px -1px 0px 0px $BTNTEXT,
                            inset 1px 1px 0px 0px $C3DHIGHLIGHT;
                            
$tab-left-border:			inset 0px -2px 0px 0px $C3DSHADOW,
                            inset 1px 1px 0px 0px $C3DHIGHLIGHT,
                            inset 0px -1px 0px 0px $BTNTEXT,
                            inset -1px 0px 0px 0px $C3DHIGHLIGHT;	
                                            
$tab-right-active-border:	inset -2px -2px 0px 0px $C3DSHADOW,
                            inset -1px -1px 0px 0px $BTNTEXT,
                            inset 0px 1px 0px 0px $C3DHIGHLIGHT;
                            
$tab-right-border:			inset -2px -2px 0px 0px $C3DSHADOW,
                            inset 0px 1px 0px 0px $C3DHIGHLIGHT,
                            inset -1px -1px 0px 0px $BTNTEXT,
                            inset 2px 0px 0px 0px $BTNTEXT,
                            inset 1px 0px 0px 0px $C3DSHADOW;
